@import "reset";



body {
    font-family:'Work Sans', sans-serif;

    header {
            display:grid;
            grid-template-columns: 1fr 2fr 1fr;
            position:fixed;
            width:100vw;
            height:13vh;

          h1 {
              align-self:center;
              justify-self:center;
          }


          nav {
              align-self:center;
              justify-self:center;

              ul {
                 list-style-type:none;

                 li {
                     display:inline-block;
                     margin: 0vh 1vw;

                     a {
                         text-decoration:none;
                         color:black;
                         font-weight:bold;
                     }
                 }

              }
          }
        button {
            width:20%;
            height:30%;
            align-self:center;
            justify-self:center;
        }
    }

    main {
            padding-top:18vh;

        .toptitle {
                display:grid;

                h2 {
                    text-align:center;
                    font-size: 3.5em;
                    width:80vw;
                    align-self:center;
                    justify-self:center;
                }
            }
        .recentposts {

        }
    }

}